/* Mobil/Main styles here*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'roboto', sans-serif;
    background-color: #f9f9f9f9;
    min-width: 390px;
    height: 100vh;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    padding: 20px;
}
header img {
    width: 50%;
    text-align: center;
}

.banner img {
    width: 100%;
    background-image: cover;
}
.restaurant-menu {
    position: relative;
    top: -35px;
    background-color: rgb(243, 243, 243);
    border-radius: 25px 25px 0 0;
}
.restaurant-menu-title {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}
.restaurant-menu-title h1 {
    font-family: "Shrikhand","cursive";
    font-weight: 900;
    
}

.restaurant-menu-groups {
    
}




/* footer here */


footer {
    background-color: black;
    color: white;
    padding: 20px 30px;
}

.footer-ohmyfood {
    font-family: 'Shrikhand';
    color: white;
    font-weight: bolder;
    font-size:xx-large;
    font-style: italic;
}

.footer-icons {
    display: flex;
    margin: 20px 0 ;
}
.fa-handshake, .fa-utensils {
    padding-right: 10px;
}
#legal-and-contact p, a {
    margin: 20px 0;
}
.contact {
    color: white;
}
