/* Mobil/Main styles here*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'roboto', sans-serif;
    background-color: #f9f9f9f9;
    min-width: 390px;
    

}

/* Loading animation */
.loader {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: spinner 1s linear infinite;
    animation: disapear 3s;
    animation-fill-mode: forwards;
}
.loader::after {
    content: "";
    width:300px;
    height: 300px;
    border: 15px solid#ff79da;
    border-top-color: #9356dc;
    border-radius: 50%;
    animation: loading 0.5s ease infinite;
}

@keyframes disapear {
    to {
        transform: scale(0);
    }
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

header {
    text-align: center;
    padding: 20px;
}
header img {
    width: 50%;
    padding: 20px 0 0;
    text-align: center;
}

nav {
    
    background-color: rgb(243, 243, 243);
}
#explore-restaurants {
    text-align: center;
}
.map-paris {
    display: flex;
    justify-content: center;
    background-color: rgb(218, 218, 218);
    line-height: 2;
    padding-top: 15px;
}
.fa-location-dot {
    padding-right: 20px;
}
.book-the-menu {
    padding: 20px;
}

.btn-explore{
    padding: 20px 100px;
    font-size: 14px;
    margin: 0 auto;
}
.btn-explore a{
    margin-top: 20px;
    color: white;
}
.btn-explore p {
    padding-top: 12px;
}
.gradient {
    position: relative;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-image: linear-gradient(
        to right,
        #9356dc,#ff79da
    );
    z-index: 1;
}

.gradient::before {
    
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background-image: linear-gradient(
        to bottom,#ff79da, #9356dc);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}
.gradient:hover::before {
    opacity: 1;
}

#how-it-works {
    padding: 20px;
    background-color: white;
}
#btn-dad-title, h1{
    padding: 20px 0 0 10px;
    background-color: white;
}

.btn-dad {
    background-color: white;
}
.filters {
    padding-top: 10px;
    font-size: 14px;
}

.mycustomicon {
    background-color: rgb(245, 244, 244);
    border: solid;
    border-color:rgb(246, 245, 245);
    border-radius: 10px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    margin:20px 0;
    height: 60px;
}
.btn_text{
    font-size: medium;
    font-weight: 600;
}
.mycustomicon .fa-1, .fa-2, .fa-3 {
    position: relative;
    top: 5px;
    left: -10px;
    background-color: #9356dc;
    border-radius: 60px;
    color: white;
    border:none;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 7px;
}
.fa-mobile-screen-button, .fa-list, .fa-store, .btn_text {
    padding: 20px 0 ;
    margin-left:10px ;
}
.mycustomicon:hover {
    background-color: #ff79da;
}

/*main*/
main {
    background-color: rgb(243, 243, 243);
}
main h1 {
    padding: 30px 0 20px 15px;
}
.card {
    position: relative;
    padding: 0  0 10px 0;
    margin: 0 20px;
}
.card__image {
    
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0; 
    background-color: white;
}
.the-enchanted-plate {
    height: 226px ;
}
.card_text-wrap {
    display: flex;
    justify-content: space-between;
    height:60px;
    position: relative;
    top: -10px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 5px 0 0 10px;
    
}
.card_text-wrap h4, a{
    padding-bottom: 3px;
    color: black;
}

.new {
    position: absolute;
    top: 2%;
    left: 80%;
    background-color: #99e2d0;
    width: 60px;
    text-align: center;
    line-height: 1.5;
    padding-top: 5px;
}

/* .fas {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 150ms ease-in-out;

}
.fas:hover {
    opacity: 1;
    transform: translateY(-50) scale(1,2);
} */

.heart {
    margin-right: 15px;
    padding-top: 15px;
    cursor: pointer;
}
.heart:hover > .solid-heart {
    visibility: visible;
}

.solid-heart {
    position: relative;
    top: -18px;
    visibility: hidden;
    color: #ff79da;
}



footer {
    background-color: black;
    color: white;
    padding: 20px 30px;
    /* height: 400px; */
}

.footer-ohmyfood {
    font-family: "Shrikhand", cursive;
    color: white;
    font-weight: bolder;
    font-size:xx-large;
    font-style: italic;
}

.footer-icons {
    display: flex;
    margin: 20px 0 ;
}
.fa-handshake, .fa-utensils {
    padding-right: 10px;
}
#legal-and-contact p, a {
    margin: 20px 0;
}
.contact {
    color: white;
}

/*Tablet here*/
@media screen and (min-width: 768px) and (max-width: 960px) {
    .btn-explore {
        width: 60%;
        margin: 0 auto;
    }
    .btn-explore p {
        padding-top: 10px;
        font-size: large;
        font-weight: 600;
    }
    .card {
        width: 90%;
        margin: 0 auto;
    }
    .card img{
        height: 350px;
        margin: 0 auto;
    }
    
    .the-enchanted-plate {
        height: 358px;
    }
    .btn-dad {
        width: 90%;
        margin: 0 auto;
    }
    .new {
    position: absolute;
    top: 3%;
    left: 88%;
    width: 60px;
    height: 22px;
}
}

/* Desktop here*/
@media screen and (min-width:961px){
    body {
        max-width: 1440px;
        margin: 0 auto;
    }
    header img {
        width: 20%;
        text-align: center;
    }
    .btn-explore {
        width: 50%;
        margin: 0 auto;
    }
    .btn-explore p {
        padding-top: 10px;
        font-size: large;
        font-weight: 600;
    }
    .fa-location-dot {
    padding-top: 15px;
    }
    .title {
        font-size: 28px;
        padding-left: 50px;
    }
    .btn-dad {
        width: 90%;
        margin: 0 auto;
    }
    main h1 {
        padding-left: 70px;
        margin-bottom: 40px;
    }
    .card {
        max-width: 90%;
        
        margin: 0 auto;
    }
    .card__image {
        height:  500px;
    }
    .card_text-wrap h4, p{
        font-size: x-large;
    }
    .new {
        position: absolute;
        top: 3%;
        left: 90%;
        width: 80px;
        height: 30px;
    }

}

